Precisamos imprimir um número para cada andar de um hotel de 20 andares. Porém, o dono do hotel é supersticioso e optou por não ter um 13ro andar.

Escreva um código que imprima todos os números exceto o número 13.
Escreva mais dois códigos que resolvam o mesmo problema, mas dessa vez usando os outros dois tipos de laços de repetição aprendidos.

Como desafio, imprima eles em ordem decrescente (20, 19, 18...)

Exemplo 01: usando while

In [ ]:
i = 20
while i >= 1:
    if i != 13:
        print(i)
    i -= 1

20
19
18
17
16
15
14
12
11
10
9
8
7
6
5
4
3
2
1

Exemplo 02: usando for

In [ ]:
for i in range(20, 0, -1):
    if i != 13:
        print(i)

20
19
18
17
16
15
14
12
11
10
9
8
7
6
5
4
3
2
1

Exemplo 03: Usando do while

In [ ]:
i = 20
while True:
    if i != 13:
        print(i)
    i -= 1
    if i < 1:
        break

20
19
18
17
16
15
14
12
11
10
9
8
7
6
5
4
3
2
1